@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

.background1 {
    background-image: url(./images/home1.jpg);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page1 {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    color: white;
    padding: 1rem;
    text-align: center;
}

.logo {
    scale: 0.6;
    margin-left: 6vw;
}

.boutons {
    margin-left: auto;
    margin-right: 9vw;
    display: flex;
    top: 0vh;
}

.boutons a {
    color: white;
    text-decoration: none;
    padding: 2rem 2.5rem;
    font-size: 1.2rem;
}

.H {
    font-family: "Roboto Slab", serif;
    font-size: 40rem;
    color: white;
    opacity: 0.2;
    display: flex;
    font-weight: 700;
    margin-left: 14vw;
    margin-top: -3.5vh;
}

.title {
    display: flex;
    font-size: 7.2rem;
    margin-left: -37.3vw;
    margin-top: -41.5vh;
    color: white;
    justify-content: center;
    align-items: center;
    height: auto;
}

.text {
    display: flex;
    font-size: 1.46rem;
    color: white;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align-last: justify;
    margin-top: 8.8vh;
    margin-left: -18.5vw;
}


.page2 {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
}

.image-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid #c1b086;
    border-radius: 7%;
    overflow: hidden;
    width: 18%;
    height: 51%;
    margin-left: 10vw;
    margin-top: 15vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.image-container1:hover {
    transform: scale(1.3);
}

.image1 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid #c1b086;
    border-radius: 8%;
    overflow: hidden;
    width: 22%;
    height: 28%;
    position: relative;
    top: -20vh;
    left: 19vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.image-container2:hover {
    transform: scale(1.3);
}

.image2 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title1 {
    display: flex;
    font-size: 1.1rem;
    margin-left: 19vw;
    margin-top: -76vh;
    color: #0000007c;
    justify-content: center;
    align-items: center;
    height: auto;
    letter-spacing: 0.2rem;
}

.title2 {
    display: flex;
    font-size: 2.3rem;
    margin-left: 26vw;
    margin-top: 3vh;
    color: #000000;
    justify-content: center;
    align-items: center;
    height: auto;
    letter-spacing: 0.2rem;
}

.text1 {
    display: flex;
    font-size: 1.2rem;
    color: #000000a1;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: justify;
    margin-top: 5vh;
    margin-left: 48vw;
    width: 50%;
    letter-spacing: 0.1rem;
    line-height: 1.6;
}

.line {
    border: none;
    border-top: 5px solid #c1b086;
    width: 5%; 
    display: block;
    position: relative;
    top: -80vh;
    left: 2.1vw;
}